<div class="flex flex-col items-center justify-center p-2 md:p-6 mx-auto">
  <div class="px-12 py-4 text-xl md:text-2xl text-neutral font-semibold mb-2">
    📝 会議サバイバルスキル診断
  </div>

  <%= form_with url: diagnoses_path, method: :post do |f| %>
  <%= render "shared/flash_message" %>
  <div class="flex justify-center items-center pb-4">
    <div class="collapse collapse-arrow ring-2 ring-accent bg-base-200 rounded-xl w-fit">
      <input type="checkbox" checked />
      <div class="collapse-title text-sm">
        あなたのステータス
      </div>
      <div class="collapse-content text-left text-sm">
        <div>・<%= @status_1 %></div>
        <div>・<%= @status_2 %></div>
        <div>・<%= @status_3 %></div>
        <div class="mt-2">※ リモートで参加中</div>
      </div>
    </div>
  </div>

  <fieldset class="form-control text-left text-neutral md:bg-base-200 rounded-4xl p-2 md:px-18 md:py-6 w-full max-w-full min-w-0">
  
  <div class="w-full max-w-md mx-auto px-2 py-6 md:p-6 md:max-w-none md:mx-0">
    <div class="label-text mb-3 font-bold md:text-xl">第1問：会議が始まった直後、あなたが取る行動は？</div>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question1]", "sleepiness:25",
          @selected_answers&.dig("question1") == "sleepiness:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>画面の明るさを落として目を休める</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question1]", "sharpness:25",
          @selected_answers&.dig("question1") == "sharpness:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>メモアプリを開き、構える</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question1]", "stealth:25",
          @selected_answers&.dig("question1") == "stealth:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>名前を「●● (接続不良中)」に変更する</span>
      </label>
  </div>

  <div class="w-full max-w-md mx-auto px-4 py-6 md:p-6 md:max-w-none md:mx-0">
    <div class="label-text mb-3 font-bold md:text-xl">第2問：話が脱線し始めた…あなたはどうする？</div>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question2]", "sleepiness:25",
          @selected_answers&.dig("question2") == "sleepiness:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>その隙にウトウトしはじめる</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question2]", "sharpness:25",
          @selected_answers&.dig("question2") == "sharpness:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>さらに脱線を深める話題を放り込む</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question2]", "nod:20,stealth:5",
          @selected_answers&.dig("question2") == "nod:20,stealth:5",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>Slackで内輪DMを始める</span>
      </label>
  </div>

  <div class="w-full max-w-md mx-auto px-4 py-6 md:p-6 md:max-w-none md:mx-0">
    <div class="label-text mb-3 font-bold md:text-xl">第3問：「◯◯さんどう思います？」と急に振られた！</div>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question3]", "nod:25",
          @selected_answers&.dig("question3") == "nod:25",
          class: "radio radio-secondary  radio-sm mt-1 ml-4" %>
        <span>急に咳き込むフリで時間を稼ぐ</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question3]", "fade:25",
          @selected_answers&.dig("question3") == "fade:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>他の人の意見に賛同する</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question3]", "stealth:25",
          @selected_answers&.dig("question3") == "stealth:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>画面がフリーズしたフリをする</span>
      </label>
  </div>

  <div class="w-full max-w-md mx-auto px-4 py-6 md:p-6 md:max-w-none md:mx-0">
    <div class="label-text mb-3 font-bold md:text-xl">第4問：会議の終わりが見えない。あなたの心の声は？</div>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question4]", "stealth:25",
          @selected_answers&.dig("question4") == "stealth:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span class="break-words whitespace-normal">議事録、もはや短歌でまとめた方が早くない？</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question4]", "fade:25",
          @selected_answers&.dig("question4") == "fade:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>この議題、あと7周くらい回す気か…？</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question4]", "sleepiness:25",
          @selected_answers&.dig("question4") == "sleepiness:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>あと何分…あと何分…(時計チラ見×5)</span>
      </label>
  </div>

  <div class="w-full max-w-md mx-auto px-4 py-6 md:p-6 md:max-w-none md:mx-0">
    <div class="label-text mb-3 font-bold md:text-xl">第5問：会議のチャット欄、どう使ってる？</div>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question5]", "fade:25",
        @selected_answers&.dig("question5") == "fade:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>いつでも送れる準備だけはしてる</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question5]", "nod:25",
        @selected_answers&.dig("question5") == "nod:25",
        class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>「承知しました」連打で“在席感”キープ</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question5]", "sharpness:25",
        @selected_answers&.dig("question5") == "sharpness:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span class="break-words whitespace-normal">絵文字だけでどこまで会話できるか、謎の戦いをしてる</span>
      </label>
  </div>

  <div class="w-full max-w-md mx-auto px-4 py-6 md:p-6 md:max-w-none md:mx-0">
    <div class="label-text mb-3 font-bold md:text-xl">第6問：会議が終わりそう。でも結論が出てない！</div>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question6]", "sharpness:25",
        @selected_answers&.dig("question6") == "sharpness:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span class="break-words whitespace-normal">「この点だけ決めませんか？」とまとめに入る</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question6]", "sleepiness:25",
        @selected_answers&.dig("question6") == "sleepiness:25",
        class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>最後の5分でなぜか覚醒</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question6]", "fade:25",
        @selected_answers&.dig("question6") == "fade:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span class="break-words whitespace-normal">「みんなで考えていきましょう！」と丸める</span>
      </label>
  </div>

  <div class="w-full max-w-md mx-auto px-4 py-6 md:p-6 md:max-w-none md:mx-0">
    <div class="label-text mb-3 font-bold md:text-xl">第7問：もう4本目の会議。あなたのテンションは？</div>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question7]", "sleepiness:25",
        @selected_answers&.dig("question7") == "sleepiness:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>完全にエンジン切れ。夢と現実を彷徨う</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question7]", "sharpness:25",
        @selected_answers&.dig("question7") == "sharpness:25",
        class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>逆にテンションが上がって意見言いまくる</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question7]", "nod:25",
        @selected_answers&.dig("question7") == "nod:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span class="break-words whitespace-normal">心の中で「この会議でファイナルラウンド…！」と願う</span>
      </label>
  </div>

  <div class="w-full max-w-md mx-auto px-4 py-6 md:p-6 md:max-w-none md:mx-0">
    <div class="label-text mb-3 font-bold md:text-xl">第8問：会議に“参加してた感“を残したい。何する？</div>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question8]", "nod:25",
        @selected_answers&.dig("question8") == "nod:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>終盤の発言にだけ『👍👍👍』で乗っかる</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question8]", "stealth:25",
        @selected_answers&.dig("question8") == "stealth:25",
        class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>最後だけ一生懸命メモを取る仕草をする</span>
      </label>
      <label class="label cursor-pointer flex items-center space-x-3 text-neutral py-1 md:hover:bg-neutral-content">
        <%= radio_button_tag "answers[question8]", "fade:25",
        @selected_answers&.dig("question8") == "fade:25",
          class: "radio radio-secondary radio-sm mt-1 ml-4" %>
        <span>最後の5秒だけ満面の笑みをする</span>
      </label>
  </div>
  </fieldset>

  <div class="pt-8 w-full flex justify-center items-center">
    <%= submit_tag "診断する", class: "btn btn-primary rounded-xl h-16 w-40 text-md flex items-center justify-center" %>
  </div>
  <% end %>
</div>

